.header__logo {
  object-fit: cover;
  width: 142px;
  height: 33px;
  margin-bottom: 39px;
}

@media screen and (max-width: 940px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 660px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 29.6px;
  }
}