.profile__add-button {
  background-image: url(../../../images/addImage.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  background-color: #000;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  margin: 35px 0 0 auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.7;
  transition: opacity .3s linear;
}

@media screen and (max-width: 920px) {
  .profile__add-button {
    width: 125px;
  }
}

@media screen and (max-width: 660px) {
  .profile__add-button {
    display: block;
    width: 282px;
    margin: 0;
    background-size: 16px 16px;
  }
}